process.executor = 'slurm'
params {
download_flag = false
container__souporcell = "/data/projects/demuxSNP/nextflow/souporcell_latest.sif"
bam_path = "${projectDir}/data/input/*/*.bam"
barcodes_path = "${projectDir}/data/input/*/*barcodes.csv"
common_variants = "/data/projects/demuxSNP/demux_pipeline/data/input/genome1K.phase3.SNP_AF5e2.chr1toX.hg38.chr.vcf"
ref = "/data/projects/demuxSNP/demux_pipeline/data/input/refdata-gex-GRCh38-2020-A/fasta/genome.fa"
    }


process.module = 'apptainer'
apptainer.enabled = true
apptainer.cacheDir = 'apptainer-cache'
apptainer.runOptions = "--bind /data/projects/demuxSNP/demux_pipeline"
trace.enabled = false
