process.executor = 'slurm'
params {
container__souporcell = "/data/projects/demuxSNP/nextflow/souporcell_latest.sif"
bam_path = "/data/projects/demuxSNP/data/processed/10x_cellline_2x/*/*.bam"
barcodes_path = "/data/projects/demuxSNP/data/processed/10x_cellline_2x/*/*barcodes.tsv"
common_variants = "/data/projects/demuxSNP/demux_pipeline/data/input/genome1K.phase3.SNP_AF5e2.chr1toX.hg38.chr.vcf"
ref = "/data/projects/demuxSNP/demux_pipeline/data/input/refdata-gex-GRCh38-2020-A/fasta/genome.fa"
    }


process.container = 'mplynch28/demux_sim'
apptainer.enabled = true
apptainer.runOptions = "--bind /data/projects/demuxSNP/demux_pipeline"
trace.enabled = false
conda.enabled = true